<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <%= image_tag("logo.png", alt: "Logo") %>
  </a>
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="<%= cart_index_path %>">Home <span class="sr-only">(current)</span></a>
    </li>
  </ul>
</nav>
<main>
  <!-- Section to show shoes -->
  <section>
    <!-- Section title -->
    <h2 class="section-title">New Collection</h2>

    <!-- Shoes list -->
    <div class="shoes">
      <div class="shoe">
        <%= image_tag("shoes/p1.jpg") %>
        <h6>Addidas New Hammer sole for Sports person</h6>
        <h5>$150.00</h5>
        <button class="add_to_cart btn-primary">Add to cart</button>
      </div>
      <div class="shoe">
        <%= image_tag("shoes/p2.jpg") %>
        <h6>Addidas New Hammer sole for Sports person</h6>
        <h5>$150.00</h5>
        <button class="add_to_cart btn-primary">Add to cart</button>
      </div>
      <div class="shoe">
        <%= image_tag("shoes/p3.jpg") %>
        <h6>Addidas New Hammer sole for Sports person</h6>
        <h5>$150.00</h5>
        <button class="add_to_cart btn-primary">Add to cart</button>
      </div>
      <div class="shoe">
        <%= image_tag("shoes/p4.jpg") %>
        <h6>Addidas New Hammer sole for Sports person</h6>
        <h5>$150.00</h5>
        <button class="add_to_cart btn-primary">Add to cart</button>
      </div>
      <div class="shoe">
        <%= image_tag("shoes/p5.jpg") %>
        <h6>Addidas New Hammer sole for Sports person</h6>
        <h5>$150.00</h5>
        <button class="add_to_cart btn-primary">Add to cart</button>
      </div>
      <div class="shoe">
        <%= image_tag("shoes/p6.jpg") %>
        <h6>Addidas New Hammer sole for Sports person</h6>
        <h5>$150.00</h5>
        <button class="add_to_cart btn-primary">Add to cart</button>
      </div>
      <div class="shoe">
        <%= image_tag("shoes/p7.jpg") %>
        <h6>Addidas New Hammer sole for Sports person</h6>
        <h5>$150.00</h5>
        <button class="add_to_cart btn-primary">Add to cart</button>
      </div>
      <div class="shoe">
        <%= image_tag("shoes/p8.jpg") %>
        <h6>Addidas New Hammer sole for Sports person</h6>
        <h5>$150.00</h5>
        <button class="add_to_cart btn-primary">Add to cart</button>
      </div>
    </div>
  </section>
</main>
