<%= form_with(model: [:admin, product], local: true) do |form| %>
  <div class="mt-3 mb-3">
    <div class="form-group">
      <label for="product_brand">Brand</label>
      <%= form.text_field(:brand, class: 'form-control') %>
    </div>

    <div class="form-group">
      <label for="product_image">Product image</label>
      <%= form.text_field(:image, class: 'form-control') %>
    </div>

    <div class="form-group">
      <label for="product_name">Name</label>
      <%= form.text_field(:name, class: 'form-control') %>
    </div>

    <div class="form-group">
      <label for="product_description">Name</label>
      <%= form.text_area(:description, class: 'form-control', rows: 7) %>
    </div>

    <div class="form-group">
      <label for="product_price">Name</label>
      <%= form.number_field(:price, class: 'form-control') %>
    </div>
  </div>

  <% if product.errors.any? %>
    <div class="card bg-warning">
      <div class="card-body">
        <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="actions d-flex justify-content-center mt-3">
    <%= form.submit(class: 'btn btn-primary') %>
  </div>
<% end %>
