<tr>
  <td class="align-middle"><%= product.id %></td>
  <td class="align-middle"><img class="img-thumbnail admin-product-image" src="<%= product.image %>"/></td>
  <td class="align-middle"><%= product.brand %></td>
  <td class="align-middle"><%= product.name %></td>
  <td class="align-middle"><%= number_to_currency(product.price, unit: 'đ', seperator: ',', format: "%n %u") %></td>
  <td class="align-middle">
    <%= link_to 'Edit', edit_admin_product_path(product), class: "btn btn-primary" %>
    <%= link_to 'Show', product_path(product), class: "btn btn-secondary", target: '_blank' %>
    <%= link_to 'Delete', admin_product_path(product), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger' %>
  </td>
</tr>
