<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Rails Girl Shop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light navbar-expand-md">
      <div class="navbar-header">
        <a class="navbar-brand" href="<%= root_path %>">
          Rails Girl Shop
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav ml-auto">
          <% if current_cart %>
            <li class="nav-item">
              <div class="nav-link">
                <%= link_to carts_path do %>
                  Cart (<%= current_cart.total_quantity %>)
                <% end %>
              </div>
            </li>
          <% end %>
          <% if user_signed_in? %>
              <li class="nav-item">
                <div class="nav-link">
                  Hello <b><%= current_user.email %></b>
                </div>
              </li>
              <li class="nav-item">
                <%= link_to 'Sign out', destroy_user_session_path, class: 'nav-link', method: :delete %>
              </li>
          <% else %>
              <li class="nav-item">
                <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Register', new_user_registration_path, class: 'nav-link' %>
              </li>
            <% end %>
          </li>
          <% if user_signed_in? && current_user.is_admin? %>
            <li class="nav-item">
              <a class="nav-link" href="<%= admin_root_path %>">Admin</a>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <main class="pt-3 container">
      <%= yield %>
    </main>

    <% if notice || alert %>
      <div class="fixed-bottom container mb-3">
        <% if notice %>
          <div class="card bg-success">
            <div class="card-body">
              <%= notice %>
            </div>
          </div>
        <% end %>

        <% if alert %>
          <div class="card bg-danger">
            <div class="card-body">
              <%= alert %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

  </body>
</html>
